.about-pic {
  border-radius: 100%;
  margin-bottom: 5%;
  max-width: 75%;
}

#about {
  display: none;
}

#police-data > tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.table th, .table td {
  text-align: center;
}

/*#crimedata {
  padding-top: 5%;
}*/

#zipform {
  color: black;
  margin-bottom: 35px;
}
