.about-pic {
  border-radius: 100%;
  margin-bottom: 5%;
  max-width: 75%;
}

#about {
  display: none;
}

#police-data > tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.table th, .table td {
  text-align: center;
}

/*#crimedata {
  padding-top: 5%;
}*/

#zip-selector {
  color: black;
  margin-bottom: 35px;
}

#crime-selector {
  color: black;
  margin-bottom: 35px;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  width: 239.36px;
}

#map {
  position: relative;
}

#loading {
  filter: invert(100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
